body {
    background: #eee;
    text-align: center;
    width: 600px;
    margin: 0 auto;
}

.goblin {
    box-sizing: border-box;
    height: 120px;
    width: 120px;
    margin: 0;
    padding: 0;
    background-image: url('../img/goblin.png');
}

.myCell {
    border-collapse: collapse;
    border: solid 1px #bbbbbb;
    box-sizing: border-box;
    height: 120px;
    width: 120px;
    margin: 0;
    padding: 0;
}

.invisible {
    display: none;
}

.fbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 480px;
    height: 480px;
}
